@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --bg-color: #AF0404;
    --primary-color: #bb4500;
    --secondary-color: #1b1a55;
}